{% extends "layout.html" %}

{% block heading %}
    Book page
{% endblock %}

{% block body %}
    <form action="{{ url_for('mainpage')}}" method="post">
        <button type="submit">Return to Homepage</button>
    </form>
    <h1>Goodreads Number of Ratings: {{res.books[0].work_ratings_count}}</h1>
    <h1>Goodreads Average Score out of 5: {{res.books[0].average_rating}}</h1>
    {% for titles in title %}
        <h1>title: {{titles.title}}</h1>
        <h1>author: {{titles.author}}</h1>
        <h1>publication year: {{titles.year}}</h1>
    {% endfor %}
    
    <form action="{{ url_for('review', isbn=isbn)}}">
        <button>Leave a Review</button>
    </form>
    <h1>Review Left on Webpage:</h1>
    {% for review in reviews %}
        <ul>Comment: {{review.comments}} Rating (stars): {{review.rating}}</ul>
    {% endfor %}
{% endblock %}